<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="ShortBase" value="${longdate} | ${level:upperCase=true} | ${logger} | ${message}"/>
  <variable name="DetailedException" value="${var:ShortBase} | ${onexception: ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method} | ${stacktrace:topFrames=10}}" />
  <variable name="logDirectory" value="Logs"/>

  <targets>
    <target xsi:type="File" name="file" fileName="${var:logDirectory}/${shortdate}.log"
            layout="${var:DetailedException}"/>
    <target xsi:type="Console"
            name="console"
            layout="${var:ShortBase}"
            detectConsoleAvailable="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" level="Fatal" writeTo="slackTarget" />
  </rules>
</nlog>